# Virtual environment
venv/
.env/
.venv/

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
/staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# dotenv
.env

# SQLite
db.sqlite3