# Virtual environment
venv/
.venv/
.env/

# Python
__pycache__/
*.py[cod]
*.log
*.sqlite3

# Django
db.sqlite3
/staticfiles/
/media/

# IDE
.vscode/
.idea/

# dotenv
.env

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

#tailwind
tailwind.config.js