{% extends "base.html" %}

{% block content %}

<div class="min-h-[85vh] flex items-center justify-center">
  <div class="w-full max-w-md bg-white p-10 rounded-xl shadow px-10">

    <h2 class="text-2xl font-bold mb-6 text-blue-500">Мій кабінет</h2>

    <div id="accountInfo"></div>
  </div>
</div>

<script>
async function loadAccount() {
  const token = localStorage.getItem("token")

  if (!token) {
    window.location.href = "/login"
    return
  }

  const response = await fetch("/accounts/me/", {
    headers: {
      "Authorization": "Bearer " + token
    }
  })

  if (!response.ok) {
    localStorage.removeItem("token")
    alert("Сесія закінчилась або ви не авторизовані")
    window.location.href = "/login"
    return
  }

  const user = await response.json()

  document.getElementById("accountInfo").innerHTML = `
    <p><strong>Name:</strong> ${user.first_name} ${user.last_name}</p>
    <p><strong>Email:</strong> ${user.email}</p>
  `
}

loadAccount()
</script>

{% endblock %}

