{% extends "base.html" %}

{% block content %}

<div class="min-h-[8vh] flex items-center justify-center">
  <div class="w-full max-w-md bg-white p-8 rounded-xl shadow">

    <h2 class="text-2xl font-bold mb-6 text-blue-500 text-center">Register</h2>

    <form id="registerForm" class="space-y-4">

    <input id="first_name" type="text" placeholder="First name"
    class="w-full border p-2 rounded">

    <input id="last_name" type="text" placeholder="Last name"
    class="w-full border p-2 rounded">

    <input id="email" type="email" placeholder="Email"
    class="w-full border p-2 rounded">

    <div class="relative">
      <input
        id="password"
        type="password"
        placeholder="Password"
        class="w-full border p-2 rounded pr-10"
      >

      <button
        type="button"
        id="togglePassword"
        class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-black"
      >
        <svg xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24">
          <path d="M2 12s4-8 10-8 10 8 10 8-4 8-10 8-10-8-10-8z"/>
          <circle cx="12" cy="12" r="3"/>
        </svg>
      </button>
    </div>

    <input id="password2"
    type="password"
    placeholder="Repeat password"
    class="w-full border p-2 rounded">

    <button class="w-full bg-gray-700 text-white p-2 rounded hover:bg-gray-800">
    Зареєструватися
    </button>

    </form>

    <p class="text-center text-sm mt-4">
    Вже маєш акаунт?
    <a href="/login" class="text-blue-500 hover:underline">
    Увійти
    </a>
    </p>
  </div>
</div>

<script>
document.getElementById("registerForm").addEventListener("submit", async function(e) {
  e.preventDefault()

  const data = {
    first_name: document.getElementById("first_name").value,
    last_name: document.getElementById("last_name").value,
    email: document.getElementById("email").value,
    password: document.getElementById("password").value,
    password2: document.getElementById("password2").value
  }

  const response = await fetch("/accounts/register/", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify(data)
  })

  const result = await response.json()

  if (response.ok) {
    alert("Акаунт успішно створено")
    window.location.href = "/login"
  } else {
    const message =
      result.email?.[0] ||
      result.password?.[0] ||
      result.password2?.[0] ||
      result.first_name?.[0] ||
      result.last_name?.[0] ||
      result.non_field_errors?.[0] ||
      "Помилка реєстрації"

    alert(message)
  }
})
</script>

<script>
const passwordInput = document.getElementById("password");
const togglePassword = document.getElementById("togglePassword");

if (togglePassword && passwordInput) {
  togglePassword.addEventListener("click", function () {
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password";
    }
  });
}
</script>

{% endblock %}