{% extends "base.html" %} {% block title %}Сервісні центри Києва{% endblock %}
{% block content %}
<div class="container">
  <h1 class="page-title">Сервісні центри Києва</h1>

  {% if services %}
  <ul class="service-list">
    {% for service in services %}
    <li class="service-card">
      <strong>
        <a href="/services/{{ service.id }}/"> {{ service.name }} </a> </strong
      ><br />
      📍 {{ service.city }}<br />
      🏠 {{ service.address }}<br />
      📞 {{ service.phone }}
    </li>
    <hr />
    {% endfor %}
  </ul>
  {% else %}
  <p class="empty-text">Поки немає сервісних центрів.</p>
  {% endif %}
</div>
{% endblock %}
